.cm-content {
    border-bottom-right-radius: 0.75rem;
    background-color: white;
    font-size: 16px;
}

.cm-gutters {
    border-bottom-left-radius: 0.75rem;
    background-color: rgba(153, 246, 228, var(--tw-bg-opacity)) !important;
}

.grogu-helper {
    position: absolute;
    width: 100px;
    opacity: 0;
    z-index: 50;
    transition: all 400ms ease-in-out;

    &.show {
        transition: all 200ms ease-in-out;
        translate: 0 -60px;
        opacity: 1;
    }
}

.blink-background {
    animation: blinkingBack 2s infinite;
}

@keyframes blinkingBack {
    0% {
        background-color: white;
    }

    25% {
        background-color: rgb(173, 226, 220);
    }

    50% {
        background-color: white;
    }

    75% {
        background-color: rgb(173, 226, 220);
        ;
    }

    100% {
        background-color: white;
    }
}

.blink-enter {
    animation: blinkingEnter 2s infinite;
}

@keyframes blinkingEnter {
    0% {
        background-color: rgba(20, 184, 166, 1);
    }

    25% {
        background-color: rgb(173, 226, 220);
    }

    50% {
        background-color: rgba(20, 184, 166, 1);
    }

    75% {
        background-color: rgb(173, 226, 220);
        ;
    }

    100% {
        background-color: rgba(20, 184, 166, 1);
    }
}