.first-col {
    width: calc(100% - 375px);

    @media screen and (max-width: 1000px) {
        width: calc(100%);
    }
}

.second-col {
    width: 375px;

    @media screen and (max-width: 1000px) {
        width: 0;
    }
}

.star {
    position: absolute;
    z-index: 40;
    width: 0.5px;
    height: 0.5px;
    background-color: white;
}