@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'StarWars';
    src: url('/src/app/assets/fonts/Starjedi.ttf') format('ttf');
}

body {
    font-family: 'StarWars', sans-serif;
    background-color: rgb(39 39 42);
}